.pageHeader {
  color: white;
  padding-left: 150px;
  padding-right: 150px;
  text-align: center;
}

h1 {
  background: rgb(30, 84, 165);
  height: 40px;
  width: 500px;
}

#like_button {
  color: rgb(211, 161, 12);
  font: georgia;
  font-weight: bold;
}

.calc_button {
  background: rgb(211, 211, 212);
  border: 1px solid rgb(0, 0, 0);
  float: left;
  font-size: 20px;
  font-weight: bold;
  line-height: 40px;
  height: 40px;
  margin-right: 1px;
  margin-top: 1px;
  padding: 0;
  text-align: center;
  width: 40px;
}

.calc_button:after {
  content: "";
}

.CalcRow:after {
  clear: both;
  content: "";
  display: table;
}

/*
<button class="btn btn-primary shop-item-button" type="button">Add</button>
*/

/*
.businessCard {
  left: 60px;
  border-color: black;
  fill: rgb(250, 248, 214);
}
*/
