h1 {
  color: white;
  padding-left: 150px;
  padding-right: 150px;
}

h1 {
  background: rgb(30, 84, 165);
  height: 40px;
  width: 500px;
}

body {
  background-image: url(xp.jfif);
}

/*
.businessCard {
  left: 60px;
  border-color: black;
  fill: rgb(250, 248, 214);
}
*/
