.pageHeader {
  color: white;
  padding-left: 150px;
  padding-right: 150px;
  text-align: center;
}

h1 {
  background: rgb(30, 84, 165);
  height: 40px;
  width: 500px;
}

body {
  background-image: url('xp.jfif"')';
}

likeDis {
  color: beige;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

/*
<button class="btn btn-primary shop-item-button" type="button">Add</button>
*/

/*
.businessCard {
  left: 60px;
  border-color: black;
  fill: rgb(250, 248, 214);
}
*/
